.wrapper {
    border: 1px solid rgb(55, 58, 58);
    border-radius: 35px;
    height: 500px;
    margin-top: 100px;
    right: 40%;
    position:absolute;
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: rgb(42, 44, 44);
    box-shadow: 0 0px 30px rgb(194, 199, 199);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.bottom-of-form {
    display: flex;
    flex-direction: column;
    padding-top: 40%
}

.login-form {
    display: flex;
    flex-direction: column;
}

*:focus {
    outline: none;
}

.inside-form {
    display: flex;
    flex-direction: column;
}

.username, .password{
    width: 60%;
    padding-top: 4%;
    margin-left: 20%;
    align-items: center;
    margin-top:10%;
    position: relative;
    left: 3%;
    background-color: rgb(221, 220, 220);
    color: rgb(36, 36, 36);
    border-radius: 10px;
    padding: 10px 10px;
    font-size:15px;
    
}
.btn-login {
    width: 64%;
    position: relative;
    margin-left: 20%;
    padding-top: 4%;
    margin-top:10%;
    left: -2%;
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
    color: rgb(36, 36, 36);
    background-color: rgb(190, 190, 190);
    border: none;
    border-radius: 10px;
    font-size:15px;

}
.username, .password {
    width: 54%;
}

h1{
    text-align:center;
    color: rgb(221, 220, 220);
    padding-top: 8px;
}

::placeholder { 
    color: rgb(105, 105, 105);
    opacity: 1; 
    display: flex;
    padding-bottom: 200px;
    vertical-align: middle;
  }

.btn-login-container {
    display: flex;
}

.btn-signup {
    width: 30%;
    height: 8%;
    right: 35%;
    bottom: 5%;
    border-radius: 10px;
    position: absolute;
    background-color: rgb(196, 196, 196);
    color: rgb(36, 36, 36);
    font-weight: bold;
    border: none;
}
.btn-signup:hover, .btn-login:hover{
    box-shadow: 0 0px 10px rgb(194, 199, 199);
    cursor: pointer;

}

.p-btn-signup{
    position: absolute;
    color: white;
    left: 14%;
    right: 14%;
    bottom: 80px;
    padding-top: -50px;
}