.list-container{
    display: flex;
    justify-content: center;

}

.users-list{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-evenly;
}

.user-div{
    display: flex;
    flex: 1 0 33%;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /* width: 100%; */
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    padding-bottom: 20px;
    overflow-wrap: break-word;
    /* text-align: left; */
}
h1{
    margin-bottom: 40px;
    margin-top: 40px;

}
h3{
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.user-text, .password-user{
    text-align: left;
    padding-bottom: 5px;
    /* margin-left: 10px; */
    padding-left: 10px;
}

.password-user{
    width: 22ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-div:hover{
    background-color: rgb(97, 97, 97);
    
}
