.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-top: 2%;
}

.user-data-container{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    /* border: solid 1px ; */
    background-color: rgb(55, 58, 58);
    border-radius: 35px;
    box-shadow: 0 0px 30px rgb(194, 199, 199);
    height: 65%;
    padding: 5%;

}

.user-info{
    padding-top: 30px;
}

h2{
    padding-bottom: 5%;
    padding-top: 3%;
}

h1{
    padding-bottom: 5%;
}

.user-data, .user-data-password{
    padding-top: 1%;
    font-weight: bold;
    font-size: 18px;
}
.user-data-password{
    text-align: center;
    width: 100ch;
    /* white-space: nowrap;
    overflow: hidden; */
    text-overflow: ellipsis; 
}

.fa-user-edit{
    position: absolute;
    color: white;
    right: 5%;
    top: 10%;
}

